{@java.lang.String title}
<head>
	<meta charset="UTF-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1" />
	<link
		href="/static/style.min.css"
		type="text/css"
		rel="stylesheet" />
	<script
		src="/static/script.min.js"
		defer></script>
	<link
		rel="icon"
		type="image/x-icon"
		href="/static/image/favicon.ico" />
	<link
		rel="alternate"
		type="application/rss+xml"
		title="Karlo Mijaljević"
		href="https://karlo.mijaljevic.xyz/rss.xml" />
	<title>{title}</title>
</head>