{@java.lang.String title}
{@java.lang.String data}
{@xyz.mijaljevic.domain.entity.Blog blog}
<!doctype html>
<!--Hello there page inspector. In case you find any errors/issues-->
<!--or bugs please report them either on the page GitHub repository-->
<!--or via email :)-->
<html lang="en">
	{#include core/head /}
	<body>
		{#include core/header /}
		<div class="blog-meta">
			<span class="blog-meta-item">published {blog.parseCreated()}</span>
			{#if !blog.parseUpdated().isEmpty()}
			<span class="blog-meta-item">updated {blog.parseUpdated()}</span>
			{/if}
		</div>
		{data.raw}
		{#include core/footer /}
	</body>
</html>