{@java.lang.String title}
<!doctype html>
<!--Hello there page inspector. In case you find any errors/issues-->
<!--or bugs please report them either on the page GitHub repository-->
<!--or via email :)-->
<html lang="en">
	{#include core/head /}
	<body>
		{#include core/header /}
		<h1 class="page-title">Contact</h1>
		<p>
			You can contact me via email or LinkedIN. Currently, I do not use
			any other messaging services except those two. In the future I will
			add more. I have also a GitHub account where this websites code is
			available.
		</p>
		<ul>
			<li>
				<a href="https://github.com/karlomijaljevic">GitHub</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/karlo-mijaljevi%C4%87-26221620a">LinkedIN</a>
			</li>
			<li>Email: karlo.mijaljevic@gmail.com</li>
		</ul>
		<p>
			When emailing me I prefer that you use encryption. My fingerprint is:
			<code>505FF7F8775BA3D1</code>
		</p>
	</body>
</html>