{@java.lang.String title}
{@java.util.List<xyz.mijaljevic.model.dto.BlogLink> blogs}
<!doctype html>
<!--Hello there page inspector. In case you find any errors/issues-->
<!--or bugs please report them either on the page GitHub repository-->
<!--or via email :)-->
<html lang="en">
	{#include core/head /}
	<body>
		{#include core/header /}
		<h1 class="page-title">Welcome to my website!</h1>
		<h2>About me</h2>
		<p>
			I am a software engineer based in Croatia. I love talking about Java,
			Linux, programming, nature, games etc. I use this site for posting
			any and all things I find interesting. Those can range from
			tutorials about Java, Linux, bash or to simple pictures of nature
			I took while hiking.
		</p>
		<p>
			My language of choice is Java. I also like to dabble in bash
			(usually for some scripting) and C. One of my bigger passions in
			programming is automation of tasks. That is also one of the reasons
			I enjoy Linux so much. It makes life so easy no matter what distro
			you choose.
		</p>
		<p>
			This site is made with Java using the Quarkus runtime and the Qute
			templating engine. It is a simple site serving static HTML. There
			is absolutely no need for complex use cases when the only need for
			this site is to share the things I find interesting with other
			like-minded people.
		</p>
		<h2>Latest blogs</h2>
		{#for blog in blogs}
		<div class="latest-blogs-section">
			<a href="/blog/{blog.id}">{blog.title}</a>
			<span>{blog.date}</span>
		</div>
		{/for}
	</body>
</html>